html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: #484848;
    font-size: 14px;
    font-family: Circular,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    position: relative;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}